.header__lang-link {
    /* width: 30px;
    height: 28px; */
    margin: 18px 0 6px 18px;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    align-self: center;
}

.header__lang-link:first-of-type {
    text-decoration: underline;
    margin-left: auto;
}
