.places {
    max-width: 984px;
    margin: 92px auto 0px auto;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1200px) {
    .places {
        margin: 92px 48px 0 48px;
    }
}

@media screen and (max-width: 900px) {
    .places {
        margin: 88px 24px 0 24px;
    }
}

@media screen and (max-width: 600px) {
    .places {
        margin: 64px 0 0 0;
    }
}