.lead {
    margin: 56px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 1280px) {
    .lead {
        margin: 48px 48px 0 48px;
    }
}

@media screen and (max-width: 1024px) {
    .lead {
        margin: 48px 0 0 0;
    }
}