.lead {
    max-width: 100%;
    margin: 56px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 1279px) {
    .lead {
        max-width: 100%;
        margin: 48px 48px 0 48px;
    }
}

@media screen and (max-width: 1023px) {
    .lead {
        margin: 48px auto 0 auto;
    }
}