.header {
    max-width: 1184px;
    display: flex;
    margin: 28px auto 0 auto;
}

@media screen and (max-width: 1200px) {
    .header {
        margin: 28px 48px 0 48px;
    }
}

@media screen and (max-width: 900px) {
    .header {
        margin: 28px 24px 0 24px;
    }
}

@media screen and (max-width: 600px) {
    .header {
        margin: 16px 16px 0 16px;
    }
}