.content {
    /* max-width: 1184px; */
    margin: 0;
}

/* @media screen and (max-width: 1279px) {
    .content {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .content {
        max-width: 768px;
        margin: 0
    }
} */