.lead__title {
    max-width: 720px;
    color: #fff;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;
    font-weight: 900;
    margin: 0 auto 0 auto;
}

@media screen and (max-width: 768px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 1.1;
    }
}