.footer__copyright {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 400;
    text-align: right;
    margin: 0 0 0 auto;
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        text-align: left;
        line-height: 1;
        margin: 48px auto 0 0;
    }
}