.lead__image {
    width: 100%;
    max-width: 984px;
    margin: 64px auto 0 auto;
    display: block;
}

@media screen and (max-width: 1200px) {
    .lead__image {
        margin: 56px auto 0 auto;
    }
}

@media screen and (max-width: 600px) {
    .lead__image {
        margin: 40px auto 0 auto;
    }
}