.lead__caption {
    width: 100%;
    max-width: 984px;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    margin: 8px auto 0;
}

@media screen and (max-width: 1279px) {
    .lead__caption {
        max-width: 100%;
        margin-left: 0;
    }
    
}

@media screen and (max-width: 1023px) {
    .lead__caption {
        width: calc(100% - 24px);
        margin-left: 24px;
    }
    
}

@media screen and (max-width: 767px) {
    .lead__caption {
        width: calc(100% - 16px);
        margin-left: 16px;
    }
    
}