.lead__caption {
    width: 100%;
    max-width: 984px;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    margin: 8px auto 0;
}

@media screen and (max-width: 900px) {
    .lead__caption {
        margin-left: 24px;
    }
    
}

@media screen and (max-width: 600px) {
    .lead__caption {
        margin-left: 16px;
    }
    
}