.cover__title {
    color: #fff;
    font-size: 72px;
    line-height: 1.06;
    font-weight: 900;
    text-align: center;
    z-index: 100;
    text-decoration: none;
    max-width: 560px;
    margin: 0 auto 0 auto;
}

@media screen and (max-width: 768px) {
    .cover__title {
        font-size: 32px;
        line-height: 1.09;
        max-width: 288px;
    }
}