.place {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, min-content);
    max-width: 984px;
    row-gap: 48px;
    column-gap: 40px;
    margin: 80px auto 0 auto
}
.place:first-of-type {
    margin-top: 0;
}