.footer {
    max-width: 1184px;
    display: flex;
    margin: 92px auto 24px auto;
}

@media screen and (max-width: 1280px) {
    .footer {
        margin: 92px 48px 24px 48px;
    }
}

@media screen and (max-width: 1024px) {
    .footer {
        margin: 88px 24px 24px 24px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
    }
}