.place__url-heading {
    font-size: 12px;
    line-height: 1.7;
    font-weight: 400;
    letter-spacing: 2px;
    color: #AAA;
    margin: 0;
}

@media screen and (max-width: 900px) {
    .place__url-heading {
        line-height: 1;
    }
}