.intro__title {
    max-width: 690px;
    font-size: 54px;
    line-height: 1.07;
    font-weight: 900;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .intro__title {
        font-size: 32px;
        line-height: 1.09;
    }
}